<div>
    <form action="" method="post" class="login-form">
        <div class="login-form-username">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required />
        </div>
        <div class="login-form-password">
            <label for="email">Password: </label>
            <input type="email" name="password" id="password" required />
        </div>
        <div class="login-form-signin">
            <input type="submit" value="Sign In!" />
        </div>
    </form>
</div>