<div class="home-content">
    <h1>
        Contacts Webapp
    </h1>
    <h2>
        Your Personal Contact Manager
    </h2>
    <p>
        Welcome to the Contacts Webapp, your ultimate solution for hassle-free contact management. We designed this application to be your centralized, intuitive hub for all your personal and professional connections. Effortlessly store, organize, and quickly retrieve names, phone numbers, email addresses, and important notes. Say goodbye to scattered information and unlock the power of staying truly connected – fostering stronger relationships has never been easier
    </p>
</div>