<div class="dashboard">
    <h1>Contact dashboard</h1>
    <div>
        <button>New</button>
    </div>

    <table class="w-full text-left table-auto min-w-max">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @for(contact of contacts; track contact.id) {
            <tr>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.telephone}}</td>
                <td>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Modify</button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Delete</button>
                </td>
            </tr>
        } @empty {
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        }
        </tbody>
    </table>
</div>